@page "/"

<h1 style="margin-top: 2%;">Prueba de Tecnica</h1>

<h5>Bienvenido a esta prueba tecnica realizada por josè Armando Coronel,donde lo encargado fue realizar 
una aplicacion to-do que ademas consumiera una api. Dicha api esta siendo consumida en la parte superior donde se puede ver el "usuario" esperemos que la aplicacion sea de su agrado</h5>
